
.BodyContent{
        grid-area: main;
        /* background-color: red; */
        border-radius: 25px;
        border-radius: 25px;
        
        
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 2.5em;
        grid-template-areas:"minmain minsidebar" 
                            "minmain minifooter";
        /* padding: 1em; */
}

.DigitalClass{

        grid-area: minmain;
        background-color: white;
        /* border:white solid 1px; */
        border-radius: 12px;

        display:flex;
        flex-direction: column;

}
.GetText{
        display: flex;
        height: 50%;
        /* background-color: black; */
        color: aliceblue;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        color: black;
        font-size:xx-large;
        font-family:Arial, Helvetica, sans-serif;
        padding: 0.5em;
      
       
}

.GetInfo{

        display: flex;
        /* height: 20%; */
        /* background-color:brown; */
        color: aliceblue;
        justify-content: flex-start; 
        color: black;
        font-size:small;
        padding-left: 20px;

}
.DigitalRing{
        display: flex;
        height: 30%;
        /* background-color:green; */
        color: aliceblue;

}
.GetMore{
        /* background-color: black; */
        padding: 30px;
        width: 80%;

        
}
.GetMore button{

      
        width: 100px;
        height:30px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        align-items: center;
        font-style: bold;
        border-radius: 25px;
        border: white;
        height: 30px;
        background-color: blue;
        color: white;
        cursor: pointer;
        font-weight: bold;
        border: none;
}

.GetMore button:hover {
        background-color: black;
        color: white;
        
}
.Ring{

        /* background-color: yellow; */
        width: 38%;
        position: relative;
        Top:-3em;
        right:15px ;
        
        
}

.Ring img{
        border-radius: 50%;
        width: 100%;
        padding-right: 10%;
        position: sticky;
        transform: scaleX(-1);
        
        
        
}
.MindsClass{

        grid-area: minsidebar;
        /* background-color: antiquewhite; */
        border-radius: 25px;
        /* border:white solid 1px; */
        border-radius: 12px;
        background-image: url("picture3.jpg");
        background-size: cover;

        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 3fr 3fr;
        grid-template-areas: "sidebar righbar"
                                "lowbar lowright";




}
.lessTime{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size:xx-small;
        color: white;


}
.DevelopmentTime{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* font-size:xx-small; */
        color: white;
}
.cutBy{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size:xx-small;
        color: white;

}

.TimeClass{

        grid-area: minifooter;
        /* background-color: antiquewhite; */
        border-radius: 25px;
}
.TimeOn{

        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        font-size:xx-small;
        color: white;

}
.MindClassChild{
        display: flex;
        
        
        /* background-color: rgb(238, 255, 4); */
        height: 100%;
        align-items: center;
        justify-content: center;
        border:white solid 1px;
        border-radius: 12px;
        font-size: larger;
        justify-content: flex-start;
        /* padding-left: 50px; */
        justify-content: center;

        gap: 1em;
}
.MindClassChild img{
        border-radius: 50%;
        width: 60px;
}
.MindClassChild p{

        font-size: 1.5em;
        font-weight: 900;
        text-transform: capitalize;
        /* border-radius: 50%; */
        width: 50px;
        color: palevioletred;
        
}

.MindsText{
        background-color: rgb(255, 0, 0);
        width: 100%;
        
        
}
.lessText p{
        font-size: xx-small;
        margin: 0;

}
.DevelopmentTime h1{

                margin: 0;
}
