.FooterContent {
  grid-area: footer;
  /* background-color: purple; */
  border-radius: 25px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 6fr 5fr;
  grid-template-areas:
    "header header sidebar sidebar sidebar"
    "header header sidebar sidebar sidebar";
  grid-gap: 3em;
  /* padding: 1em; */
}
.BrainClass {
  grid-area: header;
  background-color: bisque;

  border-radius: 25px;
  /* background-color: blue; */
  background-image: url("gaming.jpg");
  background-size: cover;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "sidebar1 sidebar2"
    "sidebar3 sidebar3";
}
.TryForFree {
  grid-area: sidebar3;
}
.knowMore {
  grid-area: sidebar2;
}

.image1 {
  grid-area: sidebar2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.MoreInfo {
  grid-area: Sidebar1;
}
.TryFree {
  grid-area: Sidebar2;
}
/* .image1{
    grid-area:header;
    color: rgb(44, 44, 255);
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
.SocialClass {
  grid-area: sidebar;
  /* background-color:rgb(255, 196, 196); */
  border-radius: 25px;
  background-image: url("picture7.jpg");
  background-size: cover;
}
.tryFree {
  justify-content: center;
}
.logoTextDesc {
  display: flex;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "logo descr"
    "logo descr";

  gap: 0.2em;
  color: aliceblue;
  margin: 0.5em;
}
.knowMore {
  margin: 0.5em;
  color: white;
  font-size: large;
  display: flex;
  justify-content: center;
}
.GetMoreBtn button {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  align-items: center;
  font-style: bold;
  border-radius: 25px;
  border: white;
  height: 30px;
  background-color: rgb(174, 0, 255);
  color: white;
  cursor: pointer;
  font-weight: bold;
  border: none;
}
.GetMoreBtn button:hover {
  background-color: black;
  color: white;
}
.TryForFree {
  display: flex;
  align-items: flex-end;
  margin: 1em;
  justify-content: center;
  justify-content: flex-start;
}
.SocialClass {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "TobBar TobBar"
    "LowBar SideBar";
}
.CreativeIdea {
  grid-area: TobBar;
}
.MoreDiffLogo {
  grid-area: LowBar;
}
.DiffLogo {
  grid-area: SideBar;
}
.CreativeIdea {
  display: flex;
  justify-content: flex-end;
}
.CreativeIdea p {
  margin: 0.5em;
  color: white;
  font-size: large;
  display: flex;
  justify-content: flex-end;
}
.MoreDiffLogo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.MoreDiffLogo button {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  align-items: center;
  font-style: bold;
  border-radius: 25px;
  border: white;
  height: 30px;
  background-color: rgb(35, 17, 87);
  color: white;
  cursor: pointer;
  font-weight: bold;
  border: none;
}
.MoreDiffLogo button:hover {
  background-color: black;
  color: white;
}
/* .DiffLogo{
        
        border-radius: 50px;
        background-image: url("picture5.jpg");
        background-size: cover;
        width: 100px;
        display: flex;
        justify-content: flex-end;
} */
